header nav
{
    display: flex;
    justify-content: start;
}
header nav a
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    gap: 4px;
    position: relative;
    left: -10px;
}
header nav a svg
{
    fill: var(--color-text-subtle);
    height: 22px;
}
header nav a span
{
    color: var(--color-text-subtle);
    font-size: 1.04rem;
}
/* header h2
{
    margin: 20px 0;
} */
section
{
    box-sizing: border-box;
}
section .field-name
{
    font-size: 0.9rem;
    font-weight: 900;
    margin-bottom: 10px;
}

section .question
{
    margin-bottom: 10px;
}

input[type="text"]
{
    width: 400px;
    padding: 0 10px;
    height: 50px;
    margin-bottom: 15px;
}
input[type="text"], input[type="text"]::placeholder
{
    font-size: 1.03rem;
}
section .add-option-conatiner button
{
    background-color: transparent;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 30px;
    padding: 10px;
}
section .add-option-conatiner button:focus
{
    outline: 1px solid white;
    box-shadow: none;
    filter: brightness(1);
}
section .submit-conatiner button
{
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 1.01rem;
}
