header nav
{
    display: flex;
    justify-content: start;
}

/* header h2
{
    margin: 20px 0;
} */
section
{
    box-sizing: border-box;
}
section .field-name
{
    font-size: 0.9rem;
    font-weight: 900;
    margin-bottom: 10px;
}

section .question
{
    margin-bottom: 10px;
}
section .option
{
    margin-bottom: 15px;
}
section .field-not-valid input
{
    outline: 1px solid var(--color-error);
    margin-bottom: 5px;
}
section .field-not-valid input:focus
{
    outline: 1px solid var(--color-error);
}
section .error-content
{
    display: none;
}
section .field-not-valid .error-content
{
    font-size: 0.9rem;
    color: var(--color-error);
    margin-bottom: 15px;
    display: block;
}
section .options .option > div:first-child
{
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    width: 420px;
}
section .options button
{
    display: none;
    height: 35px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    padding: 0;
}
section .multiple-opt input
{
    margin-bottom: 0;
    flex-grow: 1;
}
section .multiple-opt button
{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"]
{
    width: 400px;
    padding: 0 10px;
    height: 50px;
    margin-bottom: 15px;
}
input[type="text"], input[type="text"]::placeholder
{
    font-size: 1.03rem;
}
section .add-option-conatiner button
{
    background-color: transparent;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 30px;
    padding: 10px;
}
section .add-option-conatiner button:focus
{
    outline: 1px solid white;
    box-shadow: none;
    filter: brightness(1);
}
section .submit-conatiner button
{
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 1.01rem;
}
