header
{
    margin-bottom: 2rem;
}
header .logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo > svg
{
    fill: var(--color-accent);
    height: 2.5rem;
}
header .title
{
    margin: 5px;
    text-align: center;
}
header .subtitle
{
    margin: 0;
    font-weight: 400;
    font-size: 1.05rem;
    color: var(--color-text-subtle);
    text-align: center;
}

section .create-container a
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 370px;
    height: 50px;

    font-weight: 500;
    font-size: 1.05rem;

    color: var(--color-bg) !important;
    background-color: var(--color-accent);

    border: none;
    border-radius: 10px;
}
section .create-container a[role='button']:focus,
section .create-container a[role='button']:hover
{
    outline: none;
    box-shadow: inset 1px 1px 3px #40474976;
    filter: brightness(1.2);
    transition: all 200ms ease;
    transform: scale(1.02);
}
section .or::after
{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--color-text-subtle);
    top: 50%;
    display: block;
    opacity: 0.5;
}
section .or
{
    width: 350px;
    position: relative;
    color: var(--color-text-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin: 25px 0;
}
section .or span
{
    z-index: 1;
    display: flex;

    align-items: center;
    justify-content: center;
    
    background-color: var(--color-card);
    width: 40px;
    height: 20px;
}

section .enter-survey-code-container > form
{
    display: flex;
    gap: 7px;
}

section .enter-survey-code-container > form input[type="text"],
section .enter-survey-code-container > form input[type="text"]::placeholder
{
    text-transform: uppercase;
    letter-spacing: 1.7px;
    text-align: center;
}
section .enter-survey-code-container > form input[type="text"]
{
    height: 50px;
    flex-grow: 1;
}
section .enter-survey-code-container > form button
{
    height: 50px;
    aspect-ratio: 1 / 1;
}
section .enter-survey-code-container > form button svg
{
    fill: var(--color-bg);
}

