.copy
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 13px;
    height: 35px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.copy:active
{
    outline: none !important;
}
.copy.copied
{
    background-color: var(--color-success) !important;
    cursor: default;
    text-transform: none;
}
.copy svg
{
    height: 80%;
}
.copy.copied svg
{
    height: 100%;
}
